/* Reset and general styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Bus main section styling */
.Bus-MainSection {
  margin-top: 20px;
  height: 40vh;
  max-width: 100%;
  background-color: #2f81ed;
  background-image: linear-gradient(to right, #2f80ed, #56ccf2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.caption-bus {
  color: white;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Bus ticket box styling */
.Bus-ticket-Box {
  background-color: white;
  width: 80%;
  max-width: 1200px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bsearch {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align items to the bottom */
  width: 100%;
  /* gap: 20px; */
}

/* Bus details styling */
.bus {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.bus-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Datepicker styling */
.datepicker-bus {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Search button styling */
.search-button-bus {
  background-color: #ff6f61;
  color: white;
  padding: 11px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
}

.search-button:hover {
  background-color: #ff5a4a;
}
