.flightPopup {
  /* border: 3px solid red; */
  position: absolute;
  width: 280px;
  background-color: white;
  padding: 8px;
  z-index: 10;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}
.flightSearchBox {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
  gap: 5px;
  border-bottom: 0.25px solid grey;
}
.flightSearchInput {
  /* border: 3px solid red; */
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.15s ease-in-out;
  border: 0.25px solid lightgray;
  width: 100%;
}
.flightSearchIcon {
  margin-right: 10px;
  fill: black;
  font-size: 28px;
  font-style: bold;
}
.flightPopupList {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 250px;
  overflow-y: scroll;
  width: 100%;
}
.flightDummyClass {
  padding: 4px;
}
.flightPopupListItem {
  /* border: 3px solid red; */
  display: flex;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #ced4da;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}
.flightPopupInfo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
