.flightTravellerMain {
  position: absolute;
  background-color: white;
  width: 18%;
  top: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  gap: 5px;
  border-radius: 5px;
  z-index: 1;
}
.flightPassengers {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flightPassengerTitle {
  font-weight: 600;
}

.flightPassengerCount {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.flightPassengerDropDown {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}
.flightPassengerDropDown option {
  font-weight: bolder;
}
.flightDoneButton {
  padding: 6px;
  font-size: 15px;
  background-color: #ff6f61;
  color: white;
  text-align: center;
}
