/* offers */

.offer-caption {
  margin-top: 630px;
  /* border: 2px solid red; */
  position: relative;
  padding: 10px;
}

.offer-caption h2 {
  font-weight: 600;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
.offer-caption ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
}
/*Carsol*/

.carousel-container {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  position: relative;
  width: 1550px;
}

.offercard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 2px;
  flex-shrink: 0;
  transition: transform 0.3s;
  height: 300px;
  width: 25%;
  /* border: 2px solid red; */
}

.offercard:hover {
  transform: translateY(-10px);
}

.offer-details p {
  margin: 5px;
  color: #666;
}

.offer-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.offer-title p {
  padding: 3px;
  font-size: 10px;
  width: 100%;
}

.offer-details img {
  border-radius: 30px;
  width: 100%;
  height: 200px;
  padding: 15px;
}

.offer-type h3 {
  font-size: 20px;
  margin: 5px;
}

.offers-section {
  display: flex;
  overflow-x: hidden;
  margin: 10px;
  scroll-behavior: smooth;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.carousel-container button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
